<%- model_class = Post -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.pluralize.titleize %></h1>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:id) %></th>
      <th><%= model_class.human_attribute_name(:title) %></th>
      <th><%= model_class.human_attribute_name(:content) %></th>
      <th><%= model_class.human_attribute_name(:created_at) %></th>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
   
   
  <% if @posts.none? %>
    <tr>
      <td colspan='5'>
        No Posts yet!
      </td>
  </tr>
    <% else %>
     <% @posts.each do |post| %>
      <tr>
        <td><%= link_to post.id, post_path(post) %></td>
        <td><%= post.title %></td>
        <td><%= post.content %></td>
        <td><%= post.created_at %></td>
        <td>
          <a class="up-vote" data-vote="<%= new_post_vote_path(post)%>?upvote=1" href="<%= new_post_vote_path(post)%>?upvote=1">up<span><%= up_rating post %></span></a>
          
          <a class="down-vote" data-vote="<%= new_post_vote_path(post)%>?downvote=1" href="<%= new_post_vote_path(post)%>?downvote=1">down<span><%= down_rating post %></span></a>
           
            <% if post.user == current_user %>
              <%= link_to t('.edit', :default => t("helpers.links.edit")),
                      edit_post_path(post), :class => 'btn btn-default btn-xs' %>
              <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                      post_path(post),
                      :method => :delete,
                      :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                      :class => 'btn btn-xs btn-danger' %>
            <% end %>
          
       
        </td>
         
      </tr>
    <% end %>
    <% end %>
  </tbody>
</table>


